@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #20212c;
  --buttons: #635fc7;
  --paragraph: #828fa3;
  --nav: #2b2c37;
}
body{
  font-family: Plus Jakarta Sans,sans-serif;
}